
 <div id="main-content" class="container h-100">
            <div id="content-home" class="page">
              <div class="text-center">
                <section class="h-100 h-custom" style="background-color: #FFFFFF;">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                            <% @cart.orderables.each do |orderable| %>
                                <% product = orderable.product%>
                                <div id="<%="cart-#{product.id}" %>">
                                <div style = "display:flex; justify-content:space-between; margin: 2em 5em;">
                                    <strong>Name:</strong>
                                    <%= product.name %>
                                    <strong>Price:</strong>
                                    <%= product.price %>
                                <%= form_with(url:cart_add_path) do |f| %>
                                    <%= f.hidden_field :id, value: product.id %>
                                    <%= f.number_field :quantity, value: orderable.quantity, min: 0 %>
                                    <%= f.submit "Add to Cart" %>
                                <% end %>

                                <%= form_with(url:cart_remove_path) do |f| %>
                                    <%= f.hidden_field :id, value: orderable.id %>
                                    <%= f.submit "X" %>
                                <% end %>

                                <strong>Total:</strong>
                                <%= orderable.total %> 
                                </div>
                            </div>
                            <% end %>
                            </div>
 </div>
  </div>

